
.top1{
    margin-top: 5%;
    padding-left: 15%;
    padding-right: 1%;
    width: 88%;
    }
    .container {
      margin-top: 1%;
    }
    .size{
      height: 60px;
    }
    .clr{
      background-color:rgb(22, 6, 117);
    }
    .inner {
      width: 50%;
      margin: 0 auto;
    }
    .text_clr{
      color: rgb(85, 86, 87);
      font-size: 14px;
    }
    .icon {
      padding-left: 30px;
      background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
      background-size: 20px;
      background-color: white;
      border-radius: 25px 25px 25px 25px;
      min-width: 10px !important;
      width: 150px;
    
    }
    .right{
      margin-left: 720px;
      margin-top: -13%;
    }
    .search_top{
      margin-top: 1%;
    }
    .package-rating-detail[_ngcontent-c3] > label {
      margin-right: 0.2em;
      margin-top: 0.2em;
    }
    .add-button{
     
      margin-right: 20px;
      position:absolute;
      top:.8;
      right:0;
    }
  
    .hedding{
      margin-right: 3%;
      color: white;
      margin-top: 2px;
    }
    .line{
      display:inline;
    float:left;
    }
    .pop-up{
      height: 2000px;
      width: 500px;
      margin-left: 100px;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: menulist;
     
    }
    .top{
      margin-top: 40px;
    }
 
    .search-button{
        margin-right: 100px;
        position:absolute;
        top:.8;
        right:0;
    }
    
    .wd{
      width: 250px;
    }
   
    .hedding{
      font-size: 18px;
      font-weight: 500;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }
 
  .count{
    margin-right: 12px;
  }

  