<div class="top1">
    <div class="row">
    <div class="col-12">
    <div class="card">
  
    <div class="card-header clr size">
    <h2 class="card-title hedding">Employee Listing</h2>
    <div class="card-tools" style="margin-top: 2px;">
    <div class="search-button">
    <input type="search" name="table_search" class="form-control icon" placeholder="Search.." >
    </div>
  
  
    <button mat-mini-fab color="primary" class="add-button"  matTooltip="Add new" (click)="CreateEmployee()">
    <mat-icon>add</mat-icon>
    </button>
    
   </div>
   
    </div>
  
  
  
  <div  class="card-body table-responsive p-0">
     <table class="table table-hover text-nowrap">
    <thead>
    <tr>
   
    <th class="text_clr">First Name</th>
    <th class="text_clr">Last Name</th>
    <th class="text_clr">Email</th>
    <th class="text_clr">Mobile</th>
    <th class="text_clr">Country</th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
    
    <td ><b>sss</b></td>
    <td>ss</td>
    <td>ss</td>
    <td>ss</td>
    <td>ss</td>
    <td>
      
        
    <mat-icon [matMenuTriggerFor]="menu">more_horiz</mat-icon>
          
    <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="UpdateEmployee()">
       <mat-icon>create</mat-icon>
        Modify
    </button>
  
    <button mat-menu-item data-toggle="modal" data-target="#modal-sm1">
        <mat-icon>delete_forever</mat-icon>
       Delete
    </button>
  
    </mat-menu>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    
    </div>
    
    </div>
    </div>

    <div class="modal fade top" id="modal-sm1" style="display: none;" aria-hidden="true" >
    
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
        
        <div class="modal-body" >
            <span style="align-self: center;">Are you sure to delete?</span>
           
    
        </div>
       
       
         
        <div class="modal-footer justify-content-between" >
            
           
       
        <button type="button" class="btn btn-primary" style="margin-left: 50px;" data-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-default" style="margin-right: 50px;"  data-dismiss="modal">Cancel</button>
        
        
        </div>


        
        </div>
        </div>
        </div>
  <!---------------------paging------------------------------------->
  
  <ul class="pagination position" style="padding-left:20px;">
  <li class="paginate_button page-item previous" id="example2_previous">
  <a aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link count">Previous</a></li>
  
  <li class="paginate_button page-item "><a aria-controls="example2" data-dt-idx="1" tabindex="0" class="page-link count"></a></li>
           
  <li class="paginate_button page-item next" id="example2_next">
  <a  aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
  </ul>
  
  
