    
    <div class="col-md-5 container5" >

        <div class="card">
        <div class="card-header wd">
        <h3 class="card-title color">Employee creation</h3>
        </div>
        
        <!-- <form>
        <div class="card-body">
        <div class="form-group"  style="width: 90%; padding-left: 60px;" >
        <label>User name</label><span class="error">{{msg1}}</span>
        <input type="text" class="form-control" placeholder="User name" name="username" [(ngModel)]="data.username" (ngModelChange)="valuechange1($event)"/>
             
        </div>
        </div>
        
        <div class="card-footer">
        <button type="submit" class="btn" (click)="btnClick();">Submit</button>
        </div>
        </form> -->

        <form [formGroup]="myForm" (ngSubmit)="submitForm()">
        <div class="card-body">
            <div class="form-group"  style="width: 90%; padding-left: 60px;" >
                <label for="firstName">First Name</label>
                <span *ngIf="submit&&form.firstName.errors">
                    <span class="error" *ngIf="myForm.get('firstName').errors">Invalid Name</span>

                </span>
               
                <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="First name" [ngClass]="{'is-invalid':submit&&form.firstName.errors}">

            
            <br>  
                <label for="lastName">Last Name</label>
                <span *ngIf="submit&&form.lastName.errors">
                    <span class="error" *ngIf="myForm.get('lastName').errors.required">Last name required</span>
                </span>
                <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Last name" [ngClass]="{'is-invalid':submit&&form.lastName.errors}">
            <br>

                <label for="email">Email</label>
                <span *ngIf="submit&&form.email.errors">
                    <span class="error" *ngIf="myForm.get('email').errors">Invalid email</span>
                </span>
                <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email" [ngClass]="{'is-invalid':submit&&form.email.errors}">
            <br>

                <label for="mobileNumber">Mobile Number</label>
                <span *ngIf="submit&&form.mobileNumber.errors">
                    <span class="error" *ngIf="myForm.get('mobileNumber').errors">Invalid Number</span>
                </span>
                <input type="text" id="mobileNumber" formControlName="mobileNumber" class="form-control" placeholder="Mobile" [ngClass]="{'is-invalid':submit&&form.mobileNumber.errors}">
            <br>
                <label for="country">Country</label>

                <span *ngIf="submit&&form.country.errors">
                    <span class="error" *ngIf="myForm.get('country').errors">Select a country</span>
                </span>

                <select id="country" formControlName="country" class="form-control"  [ngClass]="{'is-invalid':submit&&form.country.errors}">
                <option value="" hidden>Select a country</option>
                <option *ngFor="let country of countries" [value]="country.name">{{ country.name }}</option>
                </select>
            <br>
                <button type="submit"  class="btn" >Submit</button>
            </div>
        </div>    
        </form>

        </div>
        
    
    